
/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */




/* Global defaults only – no layout styling */
html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #060606; /* velvet black */
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* Optional: smoother text */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
